<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head >
    <meta charset="utf-8">
    
</head>

<body>
    <div th:fragment="footer" class="py-2">
        <div class="row">
            <div class="col-lg-3 footer">
              <div >Powered by</div>
              <!-- Logos -->
                    <a
                    href="https://www.tvmaze.com"><img class="tvmaze-logo" style="width: 50px;" src="/images/tvmaze-logo.png"></a>
                    <a
                    href="https://trakt.tv"><img class="trakt-logo" style="width: 30px;" src="/images/trakt-logo.png"></a>
            </div>

        </div>
    </div>
    
          
</body>

</html>