<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
</head>

<body>
  <div th:fragment="navbar" class="py-2">
    <nav class="navbar navbar-expand-lg ">
      <!-- Logo -->
      <a class="navbar-brand logo-sign text-center" href="/"><b><b>TV<br>Tracker<br></b></b></a>
      <!-- Hamburger icon -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars hamburger-icon"></span>
      </button>
      <!-- User dropdown -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar-spacing">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-link" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <!-- Dropdown elements -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/shows">My Shows</a>
              <a class="dropdown-item" href="/user/settings">Settings</a>
              <a class="dropdown-item" href="/registration">Registration</a>
              <a sec:authorize="isAnonymous()" class="dropdown-item" href="/login">Login</a>
              <div sec:authorize="isAuthenticated()" class="dropdown-item" href="/logout">
                <div class="dropdown-divider"></div>
                <form th:action="@{/logout}" method="post"><input type="submit" value="Logout"></button>
                </form>
              </div>
            </div>
          </li>
          <!-- New recommended shows -->
          <li class="nav-item active">
            <a class="nav-link navbar-link" href="/shows/recommended?page=0">New recommended
              shows <span class="sr-only">(current)</span></a>
          </li>

        
        <!-- Search bar -->
        <form class="form-inline my-2 my-lg-0" id="searchForm">
          <input class="form-control" type="search" id="searchInput" placeholder="Search shows" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="reset">Search</button>
        </form>
        <!-- Github icon -->
        <div class="nav-item">
          <a class="nav-link " href="https://github.com/TadeasMusil/TvTracker"><img src="/images/github-icon.png"></a>
        </div>
      </div>
    </nav>
    <!--Search bar redirection-->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script>
      $('#searchForm').on('reset keyup', function (event) {
        if(event.type === 'reset' || event.keyCode === 13){
        var searchKeyword = $('#searchInput').val();
        window.close;
        const params = jQuery.param({
          query: searchKeyword,
          page: '1'
        });
        var url = window.location.protocol + '//' + window.location.hostname +
          (window.location.port ? ':' + window.location.port : '') + '/shows/search?' + params;
        window.location.replace(url);
        }
      })
    </script>
  </div>
</body>

</html>