<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/static-resources :: style-bootstrap">
  <meta charset="utf-8">
  
</head>

<body>
  <div th:insert="fragments/navbar :: navbar"></div>

  <div class="container light-text">
    <form class="form-horizontal d-flex justify-content-center" th:action="@{/user/updateUser}" th:object="${user}"
      method="post">
      <fieldset>

        <!-- Form Name -->
        <legend class="mx-2">Account settings</legend>

        <!-- Email input-->
        <div class="form-group">
          <label class="col-sm control-label font-weight-bold" for="textinput">Email:</label>
          <div class="col-sm" sec:authentication="principal.username">
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-sm control-label font-weight-bold" for="passwordinput">New password:</label>
          <span class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  <div class="col-sm">
    <input th:field="*{password}" id="passwordinput"  name="passwordinput" type="password" placeholder="New password" class="form-control input-sm">
    
  </div>
</div>

<!-- Confirm Password input-->
<div class="form-group">
  <label class="col-sm control-label font-weight-bold" for="passwordinput">Confirm password:</label>
  <span class="error-message" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
  <div class="col-sm">
    <input th:field="*{confirmPassword}" id="passwordinput" name="passwordinput" type="password" placeholder="Confirm password" class="form-control input-sm">
    
  </div>
</div>

<!-- Checkboxes -->
<div class="form-group">
  <label class="col-sm control-label font-weight-bold" for="checkboxes">Privacy settings</label>
  <div class="col-sm">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1" th:field="${user.gettingRecommendedShowsNotification}" th:checked="${user.gettingRecommendedShowsNotification}">
      Get email notifications whenever a new well rated series comes out
    </label>
    </div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2" th:field="${user.gettingScheduleNotification}" th:checked="${user.gettingScheduleNotification}">
      Get weekly notifications with upcoming schedule of your series
    </label>
	</div>
  </div>
</div>
<!--Submit button-->
<div class="form-group d-flex justify-content-center">
						<input type="submit" value="Update" class="btn btn-primary">
					</div>

</fieldset>
</form>

</div>
<!--Footer-->
<div th:insert="fragments/footer :: footer"></div>
</body>
<div th:insert="fragments/static-resources :: javascript"></div>
</html>